{% extends 'base.html' %}

{% block title %}  
{% endblock title %}
{% block styles %}
    <style>
        .mybg{
            margin-top: 60px;
            background-color: rgba(248, 236, 3, 0.676);
        }
        .p{
            display: flex;
            justify-content: right;
        }
    </style>
{% endblock styles %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 col-sm-6">
        
        <a href="{% url back %}" class="btn btn-primary m-3 ">retour</a>
        <div class="container">
            <div class="card mybg  my-3">
                <div class="card-header bg-success">
                    <strong> <i class="fa fa-plus-circle" aria-hidden="true"></i> Details </strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            {{account}} 
                        </div>
                    </div>
                     <br>
                     <p> Assembléé : {{account.assemblee}} </p>
                </div> 
            </div>

            <div class="card my-2">
                <div class="card-header bg-primary">
                    <strong> <i class="fas fa-phone    "></i> Contacts </strong>
                </div>
                <div class="card-body">
                    
                    <br><br>

                    {% for num in allnum %}
                    <div class="row">
                        <div class="col-9">
                            <p>
                                {% if num.disponible_sur_whatsapp %}
                                    <a href="https://wa.me/{{num.code_du_pays}}{{num.numero}}" target="_blank" rel="noopener noreferrer" class="text-dark"> <i class="fab fa-whatsapp" aria-hidden="true"></i> {{num}}</a> 
                                {% endif %}
                                <br>
                                {% if num.disponible_sur_appel %}
                                     <a href="tel:{{num}} " class="text-dark" > <i class="fa fa-phone" aria-hidden="true" ></i>{{num}} </a>
                                {% else %}
                                     <a href="tel:{{num}} " class="text-dark"> <i class="fa fa-phone" aria-hidden="true" ></i> {{num}} </a>
                                {% endif %}
                            </p>
                        </div>
                        
                    </div>
                    
                    {% endfor %}

                    <div class="row">
                        <div class="col-9"> 
                            <p>  <a href="mailto:{{account.user.email}}" target="_blank" rel="noopener noreferrer" class="text-dark"><i class="fa fa-envelope" aria-hidden="true"></i>  {{account.user.email}} </a> </p>
                        </div>
                        
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}{% endblock scripts %}