{% extends 'base.html' %}

{% block styles %}

{% endblock styles %}

{% block content %}


<div class="container my-3">
    <div class="card">
        <div class="card-header text-center">
            <strong>
                    Liste de vos  assemlées
            </strong>
        </div>

        <div class="card-body">
            {% for item in assembies %}
                <div class="row">
                    <div class="">
                        <div class=" my-2">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-8 col">
                                         {{item}}

                                    </div>
                                    <div class="col-md-4 col">
                                       <a href="{% url 'gerer_une_assemblee' item.id %}" class="btn btn-primary"> Gérer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>




{% endblock content %}

{% block scripts %}

{% endblock scripts %}